h1 {
    text-align: center;
}

.right {
    width: 210mm;
    height: 297mm;
    border: solid;
    margin: 0 auto;
    padding: 1rem;
}

.general ul {
    display: flex;
    justify-content: space-around;
}
